.search_result {
    margin : 7px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding : 10px;
    cursor : pointer;
    width: auto !important;
}
.badge {
    margin : 2px;
}
.article_image {
    border : 1px solid #ddd;
    padding : 5px;
    border-radius: 4px;
}