.news_article {
    cursor: pointer;
}

.news_article {
    margin-top : 0.5%;
    margin-bottom : 0.5%;
    margin-left : 2%;
    margin-right : 2%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.news_article_image {
    border : 1px solid #ddd;
    padding : 5px;
    border-radius: 4px;
    margin-top : 5%;
    margin-bottom : 5%;
    width : 100%;

}
.news_article_title {
    font-style : italic;
}

.news_article_bottom {
    display : flex;
    flex-direction : row;
    justify-content : space-between;
}
.share_icon {
    margin: 7px;
}
